body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(20, 20, 20);
    margin: 0 auto;
    padding: 0%;
}

#cabecera
{
    background: rgb(30, 30, 31);
    box-shadow: 30px 7px 28px 5px rgba(215,62,26,0.75);
    color: rgb(247, 235, 235);
    font-weight: bolder;
    margin: 0px;
    padding: 0.5em;
}

#container #Datos
{
    margin: 0 0 0 1em;
    font-weight:  normal;
    font-size: 0.8em;
}

#container
{
    text-align: center;
    width: 70%;
    border: 1mm solid coral;
    padding: 1%;
    margin: 0% auto;

}

#texto h1
{
    text-align: center;
    font-size: 30px ;
}
